<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title><%= title %></title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="all">
	<link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" media="all">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" media="all">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%- renderScriptsTags(scripts) %>
</head>
<body<% if(session.user !== undefined){ %> class="with-navbar"<% } %>>
	<% if(session.user !== undefined){ %>
		<% response.partia('navbar/main'); %>
	<% } %>
	
	<!-- Container -->
	<div class="container">
		<div class="row">
			<% if(session.user !== undefined){ %>
				<!-- Sidebar -->
				<div class="span2">
					<% response.partial('sidebar/main'); %>
				</div> <!--/ sidebar -->
				
				<!-- Content -->
				<div class="span10">
					<%- flashMessages %>
					<%- body %>
				</div><!--/ content -->
			<% } else { %>
				<div class="span12">
					<%- flashMessages %>
					<%- body %>
				</div>
			<% }%>
		</div>
	</div><!--/ container  -->
</body>
</html>