@import url('entypo.css');

/* COMMON MIXINS */
.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.top-left-rounded-corner(@radius: 5px) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}
.top-right-rounded-corner(@radius: 5px) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.bottom-left-rounded-corner(@radius: 5px) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}
.bottom-right-rounded-corner(@radius: 5px) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}
.gradient(@start, @stop) {
	background-color: (@start + @stop) / 2;
	background-image: -webkit-linear-gradient(top, @start, @stop);
	background-image: -moz-linear-gradient(top, @start, @stop);
	background-image: -o-linear-gradient(top, @start, @stop);
	background-image: -ms-linear-gradient(top, @start, @stop);
	background-image: linear-gradient(top, @start, @stop);
}

/* COMMON */
.hidden {
	display: none;
}
.with-navbar {
	margin-top: 60px;
}

.row {
	padding: 20px 0px;
}

a.entypo, a.entypo:hover {
	font-size: 40px;
	color: #404040;
	text-decoration: none;
}
.entypo {
	color: #404040;
	font-size: 28px;
}
.active .entypo {
	color: #fff;
}

/* NAVBAR */
.navbar .btn, .navbar .btn-group {
	margin-top: 0;
}

.navbar .gravatar {
	.rounded-corners(3px);
}

.exit {
	line-height: 28px;
}

/* LOGIN PAGE */
.center-box {
	.box-title {
		color: #fff;
		padding: 5px;
		.gradient(#616161, #222222);
		.top-left-rounded-corner(5px);
		.top-right-rounded-corner(5px);
	}
	.well {
		.top-left-rounded-corner(0);
		.top-right-rounded-corner(0);
	}
}