<!-- NAVBAR -->
<div class="navbar navbar-fixed-top hidden-phone">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<%
					var view = '';
					switch(session.user.group_id) {
						case 1: view = 'inspector'; break;
						case 2: view = 'trainer'; break;
						case 3: view = 'student'; break;
					}
					response.partial('navbar/' + view);
				%>
			</ul>
		</div>
	</div>
</div>	<!--/ navbar -->