<div class="span4 offset3 center-box">
	<div class="box-title"> Вход </div>
	
	<form class="well" action="/login" method="post">
		<label for="username"> Потребителско име: </label>
		<input type="text" name="username" id="username" class="span3" value="">
	
		<label for="password"> Парола: </label>
		<input type="password" name="password" id="password" class="span3" value="">
		<a href="#" class="entypo smartphone"></a>
		
		<label for=""></label>
		<input type="submit" class="btn btn-primary" name="submit" value="Вход">
	</form>
</div>